body {
    background-color: #000;
    color: #fff;
    font-family: Helvetica;
}

h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    table-layout: fixed;
    border: 1px solid #fff;
    margin-bottom: 20px;
}

td {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
}

.reset {
    text-align: center;
}

.review {
    text-align: center;
    margin-top: 20px;
}

.review-button {
    margin: 5px;
    width: 110px;
}

.selected {
    background-color: #36454F;
}

.won {
    background-color: green;
}

p {
    text-align: center;
}

#winner {
    font-weight: bold;
    color: yellow;
    font-size: 24px;
}